body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(154, 130, 89, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u268 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:766px;
}
#u269 {
  position:absolute;
  left:0px;
  top:730px;
  width:1223px;
  height:766px;
}
#u270 {
  position:absolute;
  left:2px;
  top:375px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:210px;
  height:210px;
}
#u271 {
  position:absolute;
  left:841px;
  top:283px;
  width:170px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#75271B;
}
#u272 {
  position:absolute;
  left:0px;
  top:68px;
  width:170px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:160px;
  height:160px;
}
#u273 {
  position:absolute;
  left:1021px;
  top:308px;
  width:120px;
  height:120px;
  font-size:20px;
}
#u274 {
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:160px;
  height:160px;
}
#u275 {
  position:absolute;
  left:711px;
  top:308px;
  width:120px;
  height:120px;
  font-size:20px;
  color:#000000;
}
#u276 {
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:160px;
  height:160px;
}
#u277 {
  position:absolute;
  left:866px;
  top:153px;
  width:120px;
  height:120px;
  font-size:20px;
}
#u278 {
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:160px;
  height:160px;
}
#u279 {
  position:absolute;
  left:866px;
  top:463px;
  width:120px;
  height:120px;
  font-size:20px;
}
#u280 {
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  word-wrap:break-word;
}
