body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:800px;
  background:-webkit-linear-gradient(270deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:93px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2 {
  position:absolute;
  left:450px;
  top:16px;
  width:259px;
  height:93px;
  font-size:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:255px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:232px;
}
#u4 {
  position:absolute;
  left:313px;
  top:246px;
  width:222px;
  height:232px;
  font-size:28px;
}
#u5 {
  position:absolute;
  left:2px;
  top:100px;
  width:218px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:238px;
}
#u6 {
  position:absolute;
  left:631px;
  top:244px;
  width:218px;
  height:238px;
  font-size:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:102px;
  width:214px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:155px;
}
#u8 {
  position:absolute;
  left:934px;
  top:285px;
  width:141px;
  height:155px;
  font-size:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:66px;
  width:137px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:155px;
}
#u10 {
  position:absolute;
  left:934px;
  top:452px;
  width:141px;
  height:155px;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:66px;
  width:137px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:110px;
  background:inherit;
  background-color:rgba(189, 171, 237, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12 {
  position:absolute;
  left:10px;
  top:9px;
  width:198px;
  height:110px;
  font-size:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:47px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:83px;
}
#u14 {
  position:absolute;
  left:14px;
  top:19px;
  width:67px;
  height:83px;
  color:#000000;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:63px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16 {
  position:absolute;
  left:82px;
  top:30px;
  width:111px;
  height:31px;
  text-align:center;
}
#u17 {
  position:absolute;
  left:0px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u18 {
  position:absolute;
  left:82px;
  top:61px;
  width:111px;
  height:31px;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u20 {
  position:absolute;
  left:61px;
  top:320px;
  width:147px;
  height:53px;
  font-size:16px;
  color:#4F4BCB;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u22 {
  position:absolute;
  left:77px;
  top:274px;
  width:116px;
  height:31px;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u24 {
  position:absolute;
  left:61px;
  top:403px;
  width:147px;
  height:53px;
  font-size:16px;
  color:#4F4BCB;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u26 {
  position:absolute;
  left:61px;
  top:480px;
  width:147px;
  height:53px;
  font-size:16px;
  color:#4F4BCB;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:44px;
}
#u28 {
  position:absolute;
  left:25px;
  top:324px;
  width:25px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:44px;
}
#u30 {
  position:absolute;
  left:25px;
  top:408px;
  width:25px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:44px;
}
#u32 {
  position:absolute;
  left:25px;
  top:487px;
  width:25px;
  height:44px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u34 {
  position:absolute;
  left:978px;
  top:30px;
  width:155px;
  height:65px;
  font-size:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u37 {
  position:absolute;
  left:1062px;
  top:709px;
  width:64px;
  height:72px;
}
#u38 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u39 {
  position:absolute;
  left:988px;
  top:709px;
  width:64px;
  height:72px;
}
#u40 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u41 {
  position:absolute;
  left:913px;
  top:709px;
  width:64px;
  height:72px;
}
#u42 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u43 {
  position:absolute;
  left:840px;
  top:709px;
  width:64px;
  height:72px;
}
#u44 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u45 {
  position:absolute;
  left:766px;
  top:709px;
  width:64px;
  height:72px;
}
#u46 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u47 {
  position:absolute;
  left:691px;
  top:709px;
  width:64px;
  height:72px;
}
#u48 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:63px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u49 {
  position:absolute;
  left:492px;
  top:596px;
  width:176px;
  height:63px;
  font-size:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:172px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u51 {
  position:absolute;
  left:532px;
  top:661px;
  width:95px;
  height:37px;
  font-size:16px;
  text-align:center;
}
#u52 {
  position:absolute;
  left:0px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
