body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  background:-webkit-linear-gradient(270deg, rgba(78, 97, 203, 1) 0%, rgba(78, 97, 203, 1) 0%, rgba(149, 147, 251, 1) 100%, rgba(149, 147, 251, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(78, 97, 203, 1) 0%, rgba(78, 97, 203, 1) 0%, rgba(149, 147, 251, 1) 100%, rgba(149, 147, 251, 1) 100%);
  background:linear-gradient(180deg, rgba(78, 97, 203, 1) 0%, rgba(78, 97, 203, 1) 0%, rgba(149, 147, 251, 1) 100%, rgba(149, 147, 251, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:6px;
  top:0px;
  width:642px;
  height:376px;
}
#u51 {
  position:absolute;
  left:2px;
  top:180px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:83px;
}
#u52 {
  position:absolute;
  left:480px;
  top:430px;
  width:86px;
  height:83px;
}
#u53 {
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:306px;
}
#u54 {
  position:absolute;
  left:14px;
  top:56px;
  width:228px;
  height:306px;
}
#u55 {
  position:absolute;
  left:2px;
  top:145px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:46px;
}
#u56 {
  position:absolute;
  left:12px;
  top:10px;
  width:148px;
  height:46px;
  opacity:0.3;
  font-size:20px;
  color:#003399;
}
#u57 {
  position:absolute;
  left:2px;
  top:15px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:39px;
  background:-webkit-linear-gradient(270deg, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 100%, rgba(135, 237, 222, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 100%, rgba(135, 237, 222, 1) 100%);
  background:linear-gradient(180deg, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 0%, rgba(135, 237, 222, 1) 100%, rgba(135, 237, 222, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:207px;
  top:4px;
  width:224px;
  height:39px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:50px;
  top:18px;
  width:71px;
  height:11px;
  font-size:8px;
  text-align:center;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
}
#u62 {
  position:absolute;
  left:121px;
  top:16px;
  width:28px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#000000;
}
#u63 {
  position:absolute;
  left:2px;
  top:14px;
  width:24px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u64 {
  position:absolute;
  left:26px;
  top:17px;
  width:26px;
  height:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:242px;
  top:9px;
  width:154px;
  height:30px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:0px;
  top:3px;
  width:154px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u68 {
  position:absolute;
  left:26px;
  top:37px;
  width:26px;
  height:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:center;
}
#u70 {
  position:absolute;
  left:50px;
  top:40px;
  width:71px;
  height:11px;
  font-size:8px;
  text-align:center;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u72 {
  position:absolute;
  left:519px;
  top:10px;
  width:115px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u73 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:56px;
}
#u74 {
  position:absolute;
  left:6px;
  top:320px;
  width:642px;
  height:56px;
  opacity:0.3;
  font-size:20px;
  color:#003399;
}
#u75 {
  position:absolute;
  left:2px;
  top:20px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u76 {
  position:absolute;
  left:560px;
  top:333px;
  width:23px;
  height:18px;
  font-size:8px;
}
#u77 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u78 {
  position:absolute;
  left:559px;
  top:347px;
  width:28px;
  height:30px;
  font-size:6px;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u80 {
  position:absolute;
  left:511px;
  top:333px;
  width:22px;
  height:18px;
  font-size:8px;
}
#u81 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u82 {
  position:absolute;
  left:509px;
  top:347px;
  width:28px;
  height:30px;
  font-size:6px;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u84 {
  position:absolute;
  left:611px;
  top:333px;
  width:23px;
  height:18px;
  font-size:8px;
}
#u85 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u86 {
  position:absolute;
  left:610px;
  top:354px;
  width:28px;
  height:16px;
  font-size:6px;
  text-align:center;
}
#u87 {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u88 {
  position:absolute;
  left:464px;
  top:333px;
  width:18px;
  height:18px;
  font-size:8px;
}
#u89 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u90 {
  position:absolute;
  left:413px;
  top:333px;
  width:18px;
  height:18px;
  font-size:8px;
}
#u91 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u92 {
  position:absolute;
  left:457px;
  top:347px;
  width:28px;
  height:30px;
  font-size:6px;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u94 {
  position:absolute;
  left:405px;
  top:347px;
  width:28px;
  height:30px;
  font-size:6px;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:36px;
}
#u96 {
  position:absolute;
  left:14px;
  top:330px;
  width:29px;
  height:36px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:center;
}
#u98 {
  position:absolute;
  left:45px;
  top:330px;
  width:55px;
  height:15px;
  font-size:8px;
  text-align:center;
}
#u99 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u100 {
  position:absolute;
  left:196px;
  top:64px;
  width:98px;
  height:48px;
  font-size:8px;
}
#u101 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:center;
}
#u102 {
  position:absolute;
  left:45px;
  top:350px;
  width:55px;
  height:15px;
  font-size:8px;
  text-align:center;
}
#u103 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u104 {
  position:absolute;
  left:180px;
  top:112px;
  width:27px;
  height:22px;
}
#u105 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:106px;
  height:105px;
}
#u106 {
  position:absolute;
  left:454px;
  top:175px;
  width:66px;
  height:65px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#333366;
}
#u107 {
  position:absolute;
  left:0px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:90px;
  height:89px;
}
#u108 {
  position:absolute;
  left:532px;
  top:185px;
  width:50px;
  height:49px;
  font-size:8px;
}
#u109 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:90px;
  height:89px;
}
#u110 {
  position:absolute;
  left:393px;
  top:185px;
  width:50px;
  height:49px;
  font-size:8px;
  color:#003399;
}
#u111 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:90px;
  height:89px;
}
#u112 {
  position:absolute;
  left:463px;
  top:250px;
  width:50px;
  height:49px;
  font-size:8px;
}
#u113 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:90px;
  height:89px;
}
#u114 {
  position:absolute;
  left:465px;
  top:120px;
  width:50px;
  height:49px;
  font-size:8px;
}
#u115 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u116 {
  position:absolute;
  left:360px;
  top:333px;
  width:20px;
  height:19px;
  font-size:8px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u118 {
  position:absolute;
  left:355px;
  top:347px;
  width:28px;
  height:30px;
  font-size:6px;
  text-align:center;
}
#u119 {
  position:absolute;
  left:0px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u121 {
  position:absolute;
  left:174px;
  top:143px;
  width:29px;
  height:33px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u123 {
  position:absolute;
  left:294px;
  top:143px;
  width:29px;
  height:33px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:132px;
}
#u125 {
  position:absolute;
  left:173px;
  top:178px;
  width:158px;
  height:132px;
}
#u126 {
  position:absolute;
  left:2px;
  top:58px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u127 {
  position:absolute;
  left:213px;
  top:149px;
  width:76px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u128 {
  position:absolute;
  left:0px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u129 {
  position:absolute;
  left:204px;
  top:202px;
  width:129px;
  height:29px;
  font-size:8px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u131 {
  position:absolute;
  left:204px;
  top:242px;
  width:136px;
  height:40px;
  font-size:8px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  text-align:center;
}
#u133 {
  position:absolute;
  left:307px;
  top:354px;
  width:24px;
  height:16px;
  font-size:6px;
  text-align:center;
}
#u134 {
  position:absolute;
  left:0px;
  top:5px;
  width:24px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u135 {
  position:absolute;
  left:307px;
  top:333px;
  width:22px;
  height:18px;
  font-size:8px;
}
#u136 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:6px;
  top:0px;
  width:642px;
  height:376px;
  overflow:hidden;
  visibility:hidden;
}
#u137_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:374px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:374px;
}
#u139 {
  position:absolute;
  left:2px;
  top:179px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:209px;
  top:134px;
  width:217px;
  height:126px;
}
#u141 {
  position:absolute;
  left:2px;
  top:55px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u142 {
  position:absolute;
  left:275px;
  top:115px;
  width:84px;
  height:37px;
  font-size:10px;
}
#u143 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u144 {
  position:absolute;
  left:228px;
  top:161px;
  width:179px;
  height:36px;
  font-size:10px;
  text-align:center;
}
#u145 {
  position:absolute;
  left:0px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:243px;
  top:197px;
  width:150px;
  height:13px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 255, 153, 1) 49%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 255, 153, 1) 49%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 255, 153, 1) 49%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:282px;
  top:225px;
  width:70px;
  height:21px;
}
#u148 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u149 {
  position:absolute;
  left:412px;
  top:124px;
  width:21px;
  height:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u137_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:123px;
  top:40px;
  width:390px;
  height:311px;
}
#u152 {
  position:absolute;
  left:2px;
  top:148px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
}
#u153 {
  position:absolute;
  left:273px;
  top:21px;
  width:84px;
  height:38px;
  font-size:20px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u155 {
  position:absolute;
  left:123px;
  top:81px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u156 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u157 {
  position:absolute;
  left:132px;
  top:84px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u158 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u159 {
  position:absolute;
  left:416px;
  top:92px;
  width:15px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u161 {
  position:absolute;
  left:434px;
  top:92px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u163 {
  position:absolute;
  left:469px;
  top:91px;
  width:39px;
  height:18px;
}
#u164 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u165 {
  position:absolute;
  left:123px;
  top:119px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u166 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u167 {
  position:absolute;
  left:132px;
  top:122px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u169 {
  position:absolute;
  left:469px;
  top:129px;
  width:39px;
  height:18px;
}
#u170 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u171 {
  position:absolute;
  left:123px;
  top:156px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u173 {
  position:absolute;
  left:132px;
  top:159px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u174 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u175 {
  position:absolute;
  left:469px;
  top:166px;
  width:39px;
  height:18px;
}
#u176 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u177 {
  position:absolute;
  left:123px;
  top:194px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u179 {
  position:absolute;
  left:132px;
  top:197px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u180 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u181 {
  position:absolute;
  left:469px;
  top:204px;
  width:39px;
  height:18px;
}
#u182 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u183 {
  position:absolute;
  left:123px;
  top:231px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u184 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u185 {
  position:absolute;
  left:132px;
  top:234px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u186 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u187 {
  position:absolute;
  left:469px;
  top:241px;
  width:39px;
  height:18px;
}
#u188 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u189 {
  position:absolute;
  left:123px;
  top:269px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u190 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u191 {
  position:absolute;
  left:132px;
  top:272px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u193 {
  position:absolute;
  left:469px;
  top:279px;
  width:39px;
  height:18px;
}
#u194 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
}
#u195 {
  position:absolute;
  left:123px;
  top:306px;
  width:390px;
  height:38px;
  font-size:10px;
}
#u196 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u197 {
  position:absolute;
  left:132px;
  top:309px;
  width:37px;
  height:32px;
  font-size:10px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u199 {
  position:absolute;
  left:469px;
  top:316px;
  width:39px;
  height:18px;
}
#u200 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u201 {
  position:absolute;
  left:500px;
  top:33px;
  width:21px;
  height:20px;
}
#u202 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u203 {
  position:absolute;
  left:416px;
  top:131px;
  width:15px;
  height:16px;
}
#u204 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u205 {
  position:absolute;
  left:434px;
  top:131px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u207 {
  position:absolute;
  left:416px;
  top:166px;
  width:15px;
  height:16px;
}
#u208 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u209 {
  position:absolute;
  left:434px;
  top:166px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u211 {
  position:absolute;
  left:416px;
  top:206px;
  width:15px;
  height:16px;
}
#u212 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u213 {
  position:absolute;
  left:434px;
  top:206px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u215 {
  position:absolute;
  left:416px;
  top:243px;
  width:15px;
  height:16px;
}
#u216 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u217 {
  position:absolute;
  left:434px;
  top:243px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u219 {
  position:absolute;
  left:416px;
  top:281px;
  width:15px;
  height:16px;
}
#u220 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u221 {
  position:absolute;
  left:434px;
  top:281px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u223 {
  position:absolute;
  left:416px;
  top:318px;
  width:15px;
  height:16px;
}
#u224 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u225 {
  position:absolute;
  left:434px;
  top:318px;
  width:31px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u137_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u228 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  position:absolute;
  left:378px;
  top:241px;
  width:513px;
  height:278px;
}
#u230 {
  position:absolute;
  left:2px;
  top:131px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u231 {
  position:absolute;
  left:541px;
  top:201px;
  width:187px;
  height:85px;
}
#u232 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u233 {
  position:absolute;
  left:861px;
  top:222px;
  width:42px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u234 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u137_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u236 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:372px;
  top:241px;
  width:513px;
  height:278px;
}
#u238 {
  position:absolute;
  left:2px;
  top:131px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u239 {
  position:absolute;
  left:535px;
  top:201px;
  width:187px;
  height:85px;
}
#u240 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u241 {
  position:absolute;
  left:866px;
  top:222px;
  width:42px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u137_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u244 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  position:absolute;
  left:372px;
  top:241px;
  width:513px;
  height:278px;
}
#u246 {
  position:absolute;
  left:2px;
  top:131px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u247 {
  position:absolute;
  left:535px;
  top:201px;
  width:187px;
  height:85px;
}
#u248 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u249 {
  position:absolute;
  left:866px;
  top:222px;
  width:42px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u250 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u137_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u252 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:374px;
  top:241px;
  width:513px;
  height:278px;
}
#u254 {
  position:absolute;
  left:2px;
  top:131px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u255 {
  position:absolute;
  left:537px;
  top:201px;
  width:187px;
  height:85px;
}
#u256 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u257 {
  position:absolute;
  left:865px;
  top:222px;
  width:42px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u258 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u137_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u137_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(191, 255, 191, 1) 0%, rgba(191, 255, 191, 1) 5%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 62%, rgba(154, 255, 154, 1) 100%, rgba(154, 255, 154, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u260 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:374px;
  top:241px;
  width:513px;
  height:278px;
}
#u262 {
  position:absolute;
  left:2px;
  top:131px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u263 {
  position:absolute;
  left:537px;
  top:201px;
  width:187px;
  height:85px;
}
#u264 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u265 {
  position:absolute;
  left:864px;
  top:222px;
  width:42px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u266 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
