body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:-webkit-linear-gradient(270deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:1280px;
  height:720px;
}
#u379 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:85px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u380 {
  position:absolute;
  left:487px;
  top:5px;
  width:285px;
  height:85px;
  font-size:28px;
}
#u381 {
  position:absolute;
  left:2px;
  top:26px;
  width:281px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:209px;
}
#u382 {
  position:absolute;
  left:333px;
  top:213px;
  width:244px;
  height:209px;
}
#u383 {
  position:absolute;
  left:2px;
  top:96px;
  width:240px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:214px;
}
#u384 {
  position:absolute;
  left:683px;
  top:211px;
  width:242px;
  height:214px;
}
#u385 {
  position:absolute;
  left:2px;
  top:99px;
  width:238px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:140px;
}
#u386 {
  position:absolute;
  left:1020px;
  top:248px;
  width:156px;
  height:140px;
}
#u387 {
  position:absolute;
  left:2px;
  top:62px;
  width:152px;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:140px;
}
#u388 {
  position:absolute;
  left:1020px;
  top:398px;
  width:156px;
  height:140px;
}
#u389 {
  position:absolute;
  left:2px;
  top:62px;
  width:152px;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:99px;
  background:inherit;
  background-color:rgba(189, 171, 237, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:99px;
  font-size:20px;
}
#u391 {
  position:absolute;
  left:2px;
  top:42px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u392 {
  position:absolute;
  left:5px;
  top:10px;
  width:75px;
  height:75px;
  color:#000000;
}
#u393 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u394 {
  position:absolute;
  left:80px;
  top:19px;
  width:90px;
  height:28px;
  text-align:center;
}
#u395 {
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u396 {
  position:absolute;
  left:80px;
  top:47px;
  width:90px;
  height:28px;
  text-align:center;
}
#u397 {
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4F4BCB;
}
#u398 {
  position:absolute;
  left:58px;
  top:279px;
  width:162px;
  height:48px;
  font-size:20px;
  color:#4F4BCB;
}
#u399 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u400 {
  position:absolute;
  left:74px;
  top:236px;
  width:129px;
  height:28px;
  text-align:center;
}
#u401 {
  position:absolute;
  left:0px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4F4BCB;
}
#u402 {
  position:absolute;
  left:58px;
  top:354px;
  width:162px;
  height:48px;
  font-size:20px;
  color:#4F4BCB;
}
#u403 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4F4BCB;
}
#u404 {
  position:absolute;
  left:58px;
  top:424px;
  width:162px;
  height:48px;
  font-size:20px;
  color:#4F4BCB;
}
#u405 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:41px;
}
#u406 {
  position:absolute;
  left:20px;
  top:283px;
  width:28px;
  height:41px;
}
#u407 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:41px;
}
#u408 {
  position:absolute;
  left:20px;
  top:358px;
  width:28px;
  height:41px;
}
#u409 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:41px;
}
#u410 {
  position:absolute;
  left:20px;
  top:428px;
  width:28px;
  height:41px;
}
#u411 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:59px;
  background:inherit;
  background-color:rgba(102, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u412 {
  position:absolute;
  left:1070px;
  top:18px;
  width:171px;
  height:59px;
  font-size:20px;
}
#u413 {
  position:absolute;
  left:2px;
  top:18px;
  width:167px;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u415 {
  position:absolute;
  left:1167px;
  top:631px;
  width:65px;
  height:65px;
}
#u416 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u417 {
  position:absolute;
  left:1092px;
  top:631px;
  width:65px;
  height:65px;
}
#u418 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u419 {
  position:absolute;
  left:1017px;
  top:631px;
  width:65px;
  height:65px;
}
#u420 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u421 {
  position:absolute;
  left:942px;
  top:631px;
  width:65px;
  height:65px;
}
#u422 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u423 {
  position:absolute;
  left:867px;
  top:631px;
  width:65px;
  height:65px;
}
#u424 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u425 {
  position:absolute;
  left:792px;
  top:631px;
  width:65px;
  height:65px;
}
#u426 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:56px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u427 {
  position:absolute;
  left:532px;
  top:528px;
  width:194px;
  height:56px;
  font-size:28px;
}
#u428 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u429 {
  position:absolute;
  left:577px;
  top:587px;
  width:105px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u430 {
  position:absolute;
  left:0px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
