body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:748px;
  background:-webkit-linear-gradient(270deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:-293px;
  top:293px;
  width:1334px;
  height:748px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u379 {
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:90px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u380 {
  position:absolute;
  left:547px;
  top:621px;
  width:296px;
  height:90px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:28px;
}
#u381 {
  position:absolute;
  left:2px;
  top:28px;
  width:292px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:219px;
}
#u382 {
  position:absolute;
  left:284px;
  top:379px;
  width:256px;
  height:219px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u383 {
  position:absolute;
  left:2px;
  top:102px;
  width:252px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:223px;
}
#u384 {
  position:absolute;
  left:284px;
  top:739px;
  width:252px;
  height:223px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u385 {
  position:absolute;
  left:2px;
  top:104px;
  width:248px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:144px;
}
#u386 {
  position:absolute;
  left:332px;
  top:1081px;
  width:163px;
  height:144px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u387 {
  position:absolute;
  left:2px;
  top:64px;
  width:159px;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:144px;
}
#u388 {
  position:absolute;
  left:178px;
  top:1081px;
  width:163px;
  height:144px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u389 {
  position:absolute;
  left:2px;
  top:64px;
  width:159px;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:96px;
  background:inherit;
  background-color:rgba(189, 171, 237, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u390 {
  position:absolute;
  left:593px;
  top:68px;
  width:211px;
  height:96px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:20px;
}
#u391 {
  position:absolute;
  left:2px;
  top:40px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u392 {
  position:absolute;
  left:655px;
  top:16px;
  width:77px;
  height:77px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#000000;
}
#u393 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u394 {
  position:absolute;
  left:645px;
  top:141px;
  width:129px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
  text-align:center;
}
#u395 {
  position:absolute;
  left:0px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u396 {
  position:absolute;
  left:620px;
  top:141px;
  width:129px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
  text-align:center;
}
#u397 {
  position:absolute;
  left:0px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u398 {
  position:absolute;
  left:332px;
  top:141px;
  width:194px;
  height:52px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:16px;
  color:#4F4BCB;
}
#u399 {
  position:absolute;
  left:2px;
  top:16px;
  width:190px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u400 {
  position:absolute;
  left:392px;
  top:154px;
  width:194px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
  text-align:center;
}
#u401 {
  position:absolute;
  left:0px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u402 {
  position:absolute;
  left:251px;
  top:141px;
  width:194px;
  height:52px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:16px;
  color:#4F4BCB;
}
#u403 {
  position:absolute;
  left:2px;
  top:16px;
  width:190px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u404 {
  position:absolute;
  left:184px;
  top:141px;
  width:194px;
  height:52px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:16px;
  color:#4F4BCB;
}
#u405 {
  position:absolute;
  left:2px;
  top:16px;
  width:190px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u406 {
  position:absolute;
  left:415px;
  top:24px;
  width:29px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u407 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u408 {
  position:absolute;
  left:336px;
  top:24px;
  width:29px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u409 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u410 {
  position:absolute;
  left:263px;
  top:24px;
  width:29px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u411 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:605px;
  top:1188px;
  width:177px;
  height:58px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:16px;
}
#u413 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u415 {
  position:absolute;
  left:13px;
  top:1225px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u416 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u417 {
  position:absolute;
  left:13px;
  top:1140px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u418 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u419 {
  position:absolute;
  left:13px;
  top:1056px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u420 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u421 {
  position:absolute;
  left:13px;
  top:971px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u422 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u423 {
  position:absolute;
  left:13px;
  top:887px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u424 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u425 {
  position:absolute;
  left:13px;
  top:804px;
  width:73px;
  height:67px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u426 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u427 {
  position:absolute;
  left:61px;
  top:639px;
  width:200px;
  height:58px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:16px;
}
#u428 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u429 {
  position:absolute;
  left:59px;
  top:652px;
  width:106px;
  height:33px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  text-align:center;
}
#u430 {
  position:absolute;
  left:0px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
