body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:374px;
  background:-webkit-linear-gradient(270deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  background:linear-gradient(180deg, rgba(156, 218, 214, 1) 0%, rgba(156, 218, 214, 1) 0%, rgba(171, 214, 218, 1) 100%, rgba(171, 214, 218, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:0px;
  top:2px;
  width:594px;
  height:374px;
}
#u379 {
  position:absolute;
  left:2px;
  top:179px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u380 {
  position:absolute;
  left:232px;
  top:5px;
  width:131px;
  height:45px;
  font-size:28px;
}
#u381 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:110px;
}
#u382 {
  position:absolute;
  left:160px;
  top:113px;
  width:114px;
  height:110px;
}
#u383 {
  position:absolute;
  left:2px;
  top:47px;
  width:110px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:111px;
}
#u384 {
  position:absolute;
  left:321px;
  top:113px;
  width:112px;
  height:111px;
}
#u385 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:72px;
}
#u386 {
  position:absolute;
  left:475px;
  top:130px;
  width:73px;
  height:72px;
}
#u387 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:72px;
}
#u388 {
  position:absolute;
  left:475px;
  top:208px;
  width:73px;
  height:72px;
}
#u389 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
  background:inherit;
  background-color:rgba(189, 171, 237, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u390 {
  position:absolute;
  left:5px;
  top:0px;
  width:95px;
  height:49px;
  font-size:20px;
}
#u391 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u392 {
  position:absolute;
  left:7px;
  top:7px;
  width:35px;
  height:39px;
  color:#000000;
}
#u393 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u394 {
  position:absolute;
  left:40px;
  top:13px;
  width:57px;
  height:14px;
  font-size:10px;
  text-align:center;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u396 {
  position:absolute;
  left:40px;
  top:25px;
  width:57px;
  height:14px;
  font-size:10px;
  text-align:center;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u398 {
  position:absolute;
  left:31px;
  top:145px;
  width:87px;
  height:26px;
  font-size:16px;
  color:#4F4BCB;
}
#u399 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u400 {
  position:absolute;
  left:31px;
  top:122px;
  width:87px;
  height:14px;
  font-size:10px;
  text-align:center;
}
#u401 {
  position:absolute;
  left:0px;
  top:-6px;
  width:87px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u402 {
  position:absolute;
  left:31px;
  top:187px;
  width:87px;
  height:26px;
  font-size:16px;
  color:#4F4BCB;
}
#u403 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 207, 121, 1) 0%, rgba(232, 207, 121, 1) 0%, rgba(249, 232, 162, 1) 42%, rgba(203, 203, 133, 1) 100%, rgba(203, 203, 133, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4F4BCB;
}
#u404 {
  position:absolute;
  left:31px;
  top:222px;
  width:87px;
  height:26px;
  font-size:16px;
  color:#4F4BCB;
}
#u405 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u406 {
  position:absolute;
  left:13px;
  top:150px;
  width:13px;
  height:20px;
}
#u407 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u408 {
  position:absolute;
  left:13px;
  top:189px;
  width:13px;
  height:20px;
}
#u409 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u410 {
  position:absolute;
  left:13px;
  top:227px;
  width:13px;
  height:20px;
}
#u411 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(102, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:502px;
  top:13px;
  width:80px;
  height:29px;
  font-size:16px;
}
#u413 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u415 {
  position:absolute;
  left:544px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u416 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u417 {
  position:absolute;
  left:504px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u418 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u419 {
  position:absolute;
  left:468px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u420 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u421 {
  position:absolute;
  left:431px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u422 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u423 {
  position:absolute;
  left:393px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u424 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u425 {
  position:absolute;
  left:356px;
  top:333px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u426 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(220, 237, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u427 {
  position:absolute;
  left:253px;
  top:279px;
  width:90px;
  height:29px;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u429 {
  position:absolute;
  left:273px;
  top:310px;
  width:48px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u430 {
  position:absolute;
  left:0px;
  top:1px;
  width:48px;
  word-wrap:break-word;
}
